@font-face {
  font-family: 'Sofia Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Regular'),
       url('/fonts/sofiapro/Sofia Pro Regular Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Italic'),
       url('/fonts/sofiapro/Sofia Pro Regular Italic Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro ExtraLight'),
       url('/fonts/sofiapro/Sofia Pro ExtraLight Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro UltraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro UltraLight'),
       url('/fonts/sofiapro/Sofia Pro UltraLight Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro ExtraLight Italic'),
       url('/fonts/sofiapro/Sofia Pro ExtraLight Italic Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro UltraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro UltraLight Italic'),
       url('/fonts/sofiapro/Sofia Pro UltraLight Italic Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Light'),
       url('/fonts/sofiapro/Sofia Pro Light Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Light Italic'),
       url('/fonts/sofiapro/Sofia Pro Light Italic Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Medium'),
       url('/fonts/sofiapro/Sofia Pro Medium Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Medium Italic'),
       url('/fonts/sofiapro/Sofia Pro Medium Italic Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro SemiBold'),
       url('/fonts/sofiapro/Sofia Pro Semi Bold Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro SemiBold Italic'),
       url('/fonts/sofiapro/Sofia Pro Semi Bold Italic Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Bold'),
       url('/fonts/sofiapro/Sofia Pro Bold Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Bold Italic'),
       url('/fonts/sofiapro/Sofia Pro Bold Italic Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Black';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Black'),
       url('/fonts/sofiapro/Sofia Pro Black Az.woff') format('woff');
}

@font-face {
  font-family: 'Sofia Pro Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Sofia Pro Black Italic'),
       url('/fonts/sofiapro/Sofia Pro Black Italic Az.woff') format('woff');
}

@keyframes pulse2 {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .8;
  }
}

.service-grid{
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 300px;
  grid-template-areas: 
    "one one one two two two"
    "three three four four five five"
  ;
}

.curved-bottom{
  clip-path: ellipse(110% 100% at top);
}

.fancy-image{
  @apply border-0;
  height: 350px;
  width: 350px;
  position: relative;

  &::before{
    @apply h-full bg-primary block rounded-full;
    content: '';
  }

  img{
    @apply absolute bottom-0 w-full opacity-100 bg-blue-400/0;
    /*clip-path: path("M 0,150 L 150,0 L 300,150 L 300,0 L 0,0 Z");*/
    /*clip-path: url("#mask");*/
    /*clip-path: path("M 0,0 L 150,150 L 300,0 Z");
    clip-rule: nonzero;*/
  }
  clip-path: url("#mask");
}

/*
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 9))}
}

.slider {
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;

  .slide-track {
    animation-name: scroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
		display: flex;
		width: calc(250px * 18);

    &:hover{
      animation-play-state: paused;
    }
	}

  .slide {
		height: 100px;
		width: 250px;
	}
}


	*/
	

