@theme {
  --color-primary: hsl(37, 74%, 92%);
  --color-primary-shade-1: hsl(40, 60%, 82%);
  --color-primary-shade-2: hsl(40, 60%, 75%);
  --color-primary-text: hsl(210, 15%, 15%);

  --color-secondary: hsl(0, 0%, 100%);
  --color-secondary-shade-1: hsl(0, 0%, 96%);
  --color-secondary-shade-2: hsl(0, 0%, 90%);
  --color-secondary-text: hsl(210, 15%, 15%);

  --color-tertiary: hsl(210, 15%, 15%);
  --color-tertiary-shade-1: hsl(210, 15%, 22%);
  --color-tertiary-shade-2: hsl(210, 15%, 28%);
  --color-tertiary-text: hsl(0, 0%, 100%);

  --color-accent-1: hsl(0, 0%, 22%);
  --color-accent-1-shade-1: hsl(0, 0%, 32%);
  --color-accent-1-shade-2: hsl(0, 0%, 32%);
  --color-accent-1-text: hsl(0, 0%, 93%);

  --color-accent-2: hsl(160, 55%, 40%);
  --color-accent-2-shade-1: hsl(160, 55%, 32%);
  --color-accent-2-shade-2: hsl(160, 55%, 24%);
  --color-accent-2-text: hsl(0, 0%, 100%);

  --color-error-red: #ff583e;

  --color-tint-dark: hsl(0, 0%, 35%);
  --color-tint-light: hsl(0, 0%, 85%);

  --height-nav: 80px;
  --height-main: 100vh;

  --width-content-xs: 600px;
  --width-content-sm: 800px;
  --width-content-base: 1000px;
  --width-content-md: 1200px;
  --width-content-lg: 1400px;
  --width-content-xl: 1600px;
  --width-content-full: 90vw;

  --padding-match-nav: var(--height-nav);
  --padding-nav-x: 20px;
  --padding-nav-y: 0;
  --padding-section-x: 0;
  --padding-section-y: 120px;

  --font-main: "Sofia Pro Regular";
}